################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LodeRunner/v15
/include/SFML
/lib/cmake/SFML
